# Salaries Exercise 

Welcome to a quick exercise for you to practice your pandas skills! We will be using the Salaries Dataset (attached to Moduel 2's lab in D2L (Salaries.csv) Just follow along and complete the tasks outlined in bold below. The tasks will get harder and harder as you go along.

** Import pandas as pd.**

In [1]:
import pandas as pd

** Read Salaries.csv as a dataframe called sal.**

In [5]:
df = pd.read_csv('/Users/admin/Downloads/Salaries.csv')

** Check the head of the DataFrame. **

In [7]:
df.head()

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.00,400184.25,NaN,567595.43,567595.43,2011,NaN,San Francisco,NaN
1,2,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),155966.02,245131.88,137811.38,NaN,538909.28,538909.28,2011,NaN,San Francisco,NaN
2,3,ALBERT PARDINI,CAPTAIN III (POLICE DEPARTMENT),212739.13,106088.18,16452.60,NaN,335279.91,335279.91,2011,NaN,San Francisco,NaN
3,4,CHRISTOPHER CHONG,WIRE ROPE CABLE MAINTENANCE MECHANIC,77916.00,56120.71,198306.90,NaN,332343.61,332343.61,2011,NaN,San Francisco,NaN
4,5,PATRICK GARDNER,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",134401.60,9737.00,182234.59,NaN,326373.19,326373.19,2011,NaN,San Francisco,NaN

** Use the .info() method to find out how many entries there are.**

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 148654 entries, 0 to 148653
Data columns (total 13 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Id                148654 non-null  int64
 1   EmployeeName      148654 non-null  object
 2   JobTitle          148654 non-null  object
 3   BasePay           148045 non-null  float64
 4   OvertimePay       148650 non-null  float64
 5   OtherPay          148650 non-null  float64
 6   Benefits          112491 non-null  float64
 7   TotalPay          148654 non-null  float64
 8   TotalPayBenefits  148654 non-null  float64
 9   Year              148654 non-null  int64
 10  Notes             0 non-null       float64
 11  Agency            148654 non-null  object
 12  Status            0 non-null       float64
dtypes: float64(8), int64(2), object(3)
memory usage: 14.7+ MB

**What is the average BasePay ?**

In [11]:
average_basepay = df['BasePay'].mean()
print(average_basepay)

66325.4488404877

** What is the highest amount of OvertimePay in the dataset ? **

In [13]:
highest_overtimepay = df['OvertimePay'].max()
print(highest_overtimepay)

245131.88

** What is the job title of  JOSEPH DRISCOLL ? Note: Use all caps, otherwise you may get an answer that doesn't match up (there is also a lowercase Joseph Driscoll). **

In [15]:
findinfo = df.loc[df['EmployeeName'] == 'JOSEPH DRISCOLL', 'JobTitle']
print(findinfo)

24    CAPTAIN, FIRE SUPPRESSION
Name: JobTitle, dtype: object

** How much does JOSEPH DRISCOLL make (including benefits)? **

In [17]:
totalpay = df.loc[df['EmployeeName'] == 'JOSEPH DRISCOLL', 'TotalPay']
print(totalpay)

24    270324.91
Name: TotalPay, dtype: float64

** What is the name of highest paid person (including benefits)?**

In [25]:
highesttotalpay = df['TotalPay'].max()
highestpay = df.loc[df['TotalPay'] == highesttotalpay, 'EmployeeName']
print(highestpay)

0    NATHANIEL FORD
Name: EmployeeName, dtype: object

** What is the name of lowest paid person (including benefits)? Do you notice something strange about how much he or she is paid?**

In [27]:
lowesttotalpay = df['TotalPay'].min()
lowestpay = df.loc[df['TotalPay'] == lowesttotalpay, 'EmployeeName']
print(lowestpay)

148653    Joe Lopez
Name: EmployeeName, dtype: object

** What was the average (mean) BasePay of all employees per year? (2011-2014) ? **

In [47]:
df_filtered = df[df['Year'].between(2011, 2014)]
average_basepay_per_year = df_filtered.groupby('Year')['BasePay'].mean()
print(average_basepay_per_year)

Year
2011    63595.956517
2012    65436.406857
2013    69630.030216
2014    66564.421924
Name: BasePay, dtype: float64

In [43]:
#this my way to solve without using an internet
year1 = 2011
year2 = 2012
year3 = 2013
year4 = 2014

average_basepay2 = df[df['Year'] == year1]['BasePay'].mean()
print(year1, average_basepay2)

average_basepay2 = df[df['Year'] == year2]['BasePay'].mean()
print(year2, average_basepay2)

average_basepay2 = df[df['Year'] == year3]['BasePay'].mean()
print(year3, average_basepay2)

average_basepay2 = df[df['Year'] == year4]['BasePay'].mean()
print(year4, average_basepay2)

2011 63595.95651677314
2012 65436.40685742263
2013 69630.03021648065
2014 66564.42192449959

** How many unique job titles are there? **

In [53]:
print(df['JobTitle'].nunique())

2159

** What are the top 5 most common jobs? **

In [59]:
top5commonjobs = df['JobTitle'].value_counts().head(5)
print(top5commonjobs)

JobTitle
Transit Operator                7036
Special Nurse                   4389
Registered Nurse                3736
Public Svc Aide-Public Works    2518
Police Officer 3                2421
Name: count, dtype: int64

** How many Job Titles were represented by only one person in 2013? (e.g. Job Titles with only one occurence in 2013?) **

In [65]:
df_2013 = df[df['Year'] == 2013]
job_counts = df_2013['JobTitle'].value_counts()
single_jobs = job_counts[job_counts == 1]
num_single_jobs = len(single_jobs)
print(num_single_jobs)

202

** How many people have the word Chief in their job title? (This is pretty tricky) **

In [69]:
word = 'Chief'

count = df['JobTitle'].str.contains(word, case=False).sum()
print(count)

627